@{
    ViewData["Title"] = @ViewBag.player.Nombre;
}
<div class="container vh-100 vw-100">
    <div class="dificultad">
        @{
            switch(ViewBag.pregunta.NivelDificultad)
            {
                case 1:
                switch(ViewBag.player.Idioma){case "ES":<h4><b>Nivel: Fácil</b></h4>break; case "EN":<h4><b>Level: Easy</b></h4>break;}
                break;

                case 2:
                switch(ViewBag.player.Idioma){case "ES":<h4><b>Nivel: Medio</b></h4>break; case "EN":<h4><b>Level: Medium</b></h4>break;}
                break;

                case 3:
                switch(ViewBag.player.Idioma){case "ES":<h4><b>Nivel: Difícil</b></h4>break; case "EN":<h4><b>Level: Hard</b></h4>break;}
                break;
            }
        }
    </div>
    <div class="row comodines">
        <div class="col-sm-3 comodintit">
            @{switch(ViewBag.player.Idioma){case "ES":<h3>Comodines</h3>break; case "EN":<h3>Wildcards</h3>break;}}
        </div>
        <div class="col-sm-3">
            @{if(ViewBag.player.Comodin50){<a href='@Url.Action("ComodinUsado","Home",new {comodin = 1})' class="comodin on">50</a>}else{<div class="comodin off">50</div>}}
        </div>
        <div class="col-sm-3">
            @{if(ViewBag.player.ComodinDobleChance){<a href='@Url.Action("ComodinUsado","Home",new {comodin = 2})' class="comodin on">x2</a>}else{<div class="comodin off">x2</div>}}
        </div>
        <div class="col-sm-3">
            @{  
                if(ViewBag.player.ComodinSaltear)
                {
                    if(ViewBag.pregunta.Orden == 18)
                    {
                        <div class="comodin onND"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg></div>
                    }
                    else
                    {
                        <a href='@Url.Action("ComodinUsado","Home",new {comodin = 3})' class="comodin onSP"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg></a>
                    }
                }
                else
                {
                    <div class="comodin off"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg></div>
                }
            }
        </div>
    </div>
    <div class="row juego">
        <div class="col-sm-8">
            <h3>Pregunta @ViewBag.pregunta.Orden</h3>
            <div class="pregunta">@ViewBag.pregunta.TextoPregunta</div>
            <div class="row opciones">
                @{
                    foreach(Respuesta respuesta in ViewBag.listaRespuestas)
                    {
                        bool esValida = true;
                        foreach(char opcionDescarte in ViewBag.listaDescarte)
                        {
                            if(respuesta.OpcionRespuesta == opcionDescarte)
                            {
                                esValida = false;
                            }
                        }
                        if(respuesta.OpcionRespuesta == ViewBag.opcionSeleccionada)
                        {
                            <div class="col-sm-6 respuesta noValida">
                            <div class="opcion mal">@respuesta.OpcionRespuesta</div>
                            <div class="textoRes">@respuesta.TextoRespuesta</div>
                            </div>
                        }
                        else
                        {
                            if(esValida)
                            {
                                <div class="col-sm-6 respuesta">
                                <a href='@Url.Action("PreguntaRespondida","Home",new {Opcion = @respuesta.OpcionRespuesta})' class="opcion normal">@respuesta.OpcionRespuesta</a>
                                <div class="textoRes">@respuesta.TextoRespuesta</div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-6 respuesta noValida">
                                <div class="opcion normal">@respuesta.OpcionRespuesta</div>
                                <div class="textoRes">@respuesta.TextoRespuesta</div>
                                </div>
                            }
                        }
                        
                        
                    }
                }
            </div>
        </div>
        <div class="col-sm-4">
            <div class="contDer">
                <h3>@ViewBag.player.Nombre</h3>
                <div>
                    @{
                        for(int i = ViewBag.listaPozo.Count-1; i >= 0; i--)
                        {
                            if(i > ViewBag.posPozo && !ViewBag.listaPozo[i].ValorSeguro)
                            {
                                if(i == ViewBag.posPozo+1)
                                {
                                    <div class="escalon enJuego">@(i+1) - $@ViewBag.listaPozo[i].Importe</div>
                                }
                                else
                                {
                                    <div class="escalon off">@(i+1) - $@ViewBag.listaPozo[i].Importe</div>
                                }
                            }
                            if(i > ViewBag.posPozo && ViewBag.listaPozo[i].ValorSeguro)
                            {
                                if(i == ViewBag.posPozo+1)
                                {
                                    <div class="escalonSeg enJuego">@(i+1) - $@ViewBag.listaPozo[i].Importe</div>
                                }
                                else
                                {
                                    <div class="escalonSeg off">@(i+1) - $@ViewBag.listaPozo[i].Importe</div>
                                }
                            }
                            if(i <= ViewBag.posPozo && !ViewBag.listaPozo[i].ValorSeguro)
                            {
                                <div class="escalon completado">@(i+1) - $@ViewBag.listaPozo[i].Importe</div>
                            }
                            if(i <= ViewBag.posPozo && ViewBag.listaPozo[i].ValorSeguro)
                            {
                                <div class="escalonSeg completado">@(i+1) - $@ViewBag.listaPozo[i].Importe</div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>